.centered {
    margin: 0px auto;
    text-align: center;
}

.hidden {
    display: none;
}

.cell {
    width: 25px;
    height: 25px;
}

.cell.alive{
    background-color: peachpuff;
}

.flex {
  display: flex;
}

.sidebar {
    width: 25%;
}

.grid {
    width: 75%;
}

#controls {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
}

button {
  display: block;
}

input {
    width: 40px;
    margin-bottom: 10px;
}

h2.centered {
    margin-bottom: 10px;
}
